/* Navbar Section */
.sticky {
  background-color: #1a183ad8; /* Background color when sticky */
  transition: all 0.3s ease-out;
  box-shadow: 0px 10px 10px rgba(219, 216, 233, 0.171);
  backdrop-filter: blur(15px);
  color: white; /* Text color */
}

.navbar {
  position: fixed;
  transition: all 0.3s ease-out;
  padding: 0.5rem 2rem; /* Adjusted padding */
  font-size: 1.1rem;
}

.navbar-nav .nav-link {
  color: white; /* Default link color */
  padding: 0.8rem 1rem;
  transition: background-color 0.3s ease; /* Smooth background transition */
}

.navbar-nav .nav-item {
  margin-right: 20px; /* Space between nav items */
}

.navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Background on hover */
  color: #ff0055; /* Change text color on hover */
}

.navbar-nav .nav-item.active .nav-link {
  background-color: rgba(255, 255, 255, 0.2); /* Background for active item */
  color: #ff0055; /* Active link color */
}

.fork-btn-inner {
  background-color: #c8ce4c5e; /* Button background */
  transition: background-color 0.3s ease; /* Smooth transition */
  margin-left: 20px; /* Space between nav items and button */
}

.fork-btn-inner:hover {
  background-color: #ccd34d86; /* Button hover color */
}
